
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
  background-color: hsl(0, 0%, 8%);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 3rem;
  font-family: "Inter", serif;
}

.container{
  background-color: hsl(0, 0%, 12%);
  height: 85vh;
  width: 50vh;
  display:flex;
  flex-direction: column;
  justify-self:center;
  align-items:center;
  border-radius:1rem;
}
img{
    width: 5rem;
    border-radius: 100%;
    margin-top:1rem;
}
h3{
    margin-bottom: 0;
    color:hsl(0, 0%, 100%);
}
.location{
    color: hsl(75, 94%, 57%) ;
    margin-top: 5px;
}
p{
    color:hsl(0, 4%, 69%);
    font-size: 14px;
}
.link{

    height: 3rem;
    width: 15rem;
    display: flex;
    justify-content:center;
    align-items: center;
    color:hsl(0, 0%, 100%);
    text-decoration: none;
    background-color:gray ;
    margin: 5px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    margin-bottom: 1rem;
}
a:hover{
    background-color: hsl(75, 94%, 57%) ;
}

@media screen and (max-width:500px){
    
.container{
    width: 70vh;
  }
  p{
      color:hsl(0, 4%, 69%);
      font-size: 14px;
  }
  .link{
  width: 23rem;
  }
}

@media screen and (min-width:1440px){
    
.container{
  height: 85vh;
  width: 50vh;
  display:flex;
  flex-direction: column;
  justify-self:center;
  align-items:center;
  border-radius:1rem;
}
img{
    width: 5rem;
    border-radius: 100%;
    margin-top:1rem;
}
h3{
    margin-bottom: 0;
}
.location{
    margin-top: 5px;
}
p{
    font-size: 14px;
}
.link{
    height: 3rem;
    width: 15rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
}